body {
  padding-top: 20px;
  background-color: #e6ecf0;
  color: #000;
  font-family: 'Noto Sans', sans-serif;
}
.profile-background {
  height: 120px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.profile-avatar {
  width: 90px;
  height: 90px;
  overflow: hidden;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #fff;
  border-radius: 100px;
  background-color: #fff;
}
.profile-avatar img {
  max-width: 100%;
  height: auto;
}
.profile-title {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
}
.profile-description {
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-style: italic;
}
.stats {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.stats-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 25px;
  padding-right: 25px;
}
.stats-title {
  font-size: 14px;
  color: #8CB0BB;
}
.stats-count {
  font-size: 22px;
  font-weight: 600;
  color: #087DE1;
}
.card-title-only {
  padding: 1.25rem;
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
}
.tweet-card {
  padding: 1.25rem;
  border-radius: 0;
  border-bottom: 0;
}
.tweet-card:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 0 0.25rem 0.25rem;
}
.tweet-date {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.tweet-text p {
  margin-bottom: 0;
  font-size: 20px;
}
.tweet-text a {
  color: #4ba3f6;
}
.tweet-rounded-top {
  border-radius: 0.25rem 0.25rem 0 0;
}
.font-size-small p {
  font-size: 16px;
}
.font-size-normal p {
  font-size: 20px;
}
.font-size-large p {
  font-size: 22px;
}
.footer {
  text-align: center;
  margin-top: 20px;
  color: #087DE1;
}
.footer a {
  color: #25a5bf;
  font-weight: 800;
}
.footer p {
  line-height: 2;
  padding-bottom: 16px;
}
.footer .fa-heart {
  color: #CE2222;
}
